
.fondo{
  position:absolute;
  display:block;
  width:160vh;
  left:50%;
  transform: translateX(-50%);
  height:80%;
  top:17%;
  background-color:  #aeb6bf ;
  z-index: 1;
  transition: opacity 1s;
}
.tablero{
  position:absolute;
  display:block;
  top:1%;
  left:5%;
  height:15%;
  width:90%;
  border-radius: 5vw;
  background-color:  #1f618d;
  z-index: 20;
  transition: opacity 1s;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.tableroPlayer{
  position:absolute;
  left:25%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  display:block;
  color: white;
  font-size: 5vh;
  margin-top:0%;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.scorePlayers{
  position:absolute;
  display:block;
  right:0%;
  transform: translateX(140%);
  top:0%;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.tableroLucy{
  position:absolute;
  left:70%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  display:block;
  color: white;
  font-size: 5vh;
  margin-top:0%;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.division{
  position:absolute;
  margin-top:0%;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 10vh;
  min-height: 9.4vh;
  color: white;
  font-size: 7vh;
  padding-left: 1vh;
  padding-right: 1vh;
  border: solid white 1vh;
  border-radius: 1vh;
  background-color: black;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.imgbtnEmp{
  position:relative;
  display:flex;
  width:90%;
  height:auto;
  left:55%;
  transform: translateX(-50%) ;
  padding: 1vh;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btnEmpezar{
  position:absolute;
  display:none;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  width:5%;
  height:auto;
  font-size: 5vh;
  text-align: center;
  border: 1vh solid #fff;
  background-color: #ddeef6;
  border-radius: 16vh;
  box-shadow: inset 1vh 3vh 4vh #70a9cf, inset 0 -15vh #1f618d, 1vh .7vh 0.7vh #355e70;
  -o-box-shadow: inset 1vh 3vh 4vh #70a9cf, inset 0 -15vh #1f618d, 1vh .7vh 0.7vh #355e70;
  -webkit-box-shadow: inset 1vh 3vh 4vh #70a9cf, inset 0 -15vh #1f618d, .7vh 1vh 0.7vh #355e70;
  -moz-box-shadow: inset 1vh 3vh 4vh #70a9cf, inset 0 -15vh #1f618d, 1vh .7vh 0.7vh #355e70;
  color: #fff;
  text-shadow: 0 .2vh #fff;
  padding: 2vh 2vh;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btnEmpezar:active{
  position:absolute;
  left:50.7%;
  top:51%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: inset .3vh .9vh 4vh #70a9cf, inset 0 -15vh #1f618d;
  -o-box-shadow: inset .3vh .9vh 4vh #70a9cf, inset 0 -15vh #1f618d;
  -webkit-box-shadow: inset .3vh .9vh 4vh #70a9cf, inset 0 -15vh #1f618d;
  -moz-box-shadow: inset .3vh .9vh 4vh #70a9cf, inset 0 -15vh #1f618d;
}

.letreroAnimado{
  position:absolute;
  display:none;
  justify-content:center;
  align-items: center;
  text-align: center;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 10vh;
  background-color: #1f618d;
  border: solid white 1vh;
  border-radius: 5vh;
  padding-left: 3vh;
  padding-right: 3vh;
  color:white;
  z-index:30;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.ahora{
  position: absolute;
  animation: now 0.7s;
}
@keyframes now {
  0%{
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
  }
  50%{
    font-size: 8vh;
    color: #003366;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    opacity:1;
  }
  100%{
    color: #fff;
    font-size: 40vh;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    opacity:0;
  }

}

.p1{
  position:absolute;
  display:block;
  z-index: 10;
  width:8.5%;
  height:auto;
  top:51.6%;
  left:1%;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.lucy{
  position:absolute;
  display:block;
  z-index: 9;
  width:8.5%;
  height:auto;
  top:39.5%;
  left:1%;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.G1{
  position: absolute;
  display:block;
  height:24%;
  width:13%;
  left:87%;
  top:-.5vh;
  text-align: center;
  border-bottom: solid #2c3e50 1vh;
  border-top: solid #2c3e50 1vh;
  border-right: solid #2c3e50 1vh;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.G2{
  position: absolute;
  display:block;
  height:24%;
  width:13%;
  left:87%;
  top:24.5%;
  text-align: center;
  border-bottom: solid #2c3e50 1vh;
  border-top: solid #2c3e50 1vh;
  border-right: solid #2c3e50 1vh;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.G3{
  position: absolute;
  display:block;
  height:24%;
  width:13%;
  left:87%;
  top:49.5%;
  text-align: center;
  border-bottom: solid #2c3e50 1vh;
  border-top: solid #2c3e50 1vh;
  border-right: solid #2c3e50 1vh;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.G4{
  position: absolute;
  display:block;
  height:24%;
  width:13%;
  left:87%;
  top:74.5%;
  text-align: center;
  border-bottom: solid #2c3e50 1vh;
  border-top: solid #2c3e50 1vh;
  border-right: solid #2c3e50 1vh;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.divG{
  position:relative;
  display:inline-block;
  width:auto;
  height:48%;
  left:0%;
  top:0%;
  margin-top:0vh;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.palet{
  position:relative;
  width:auto;
  height:95%;
  margin-top:0%;
  z-index:15;
  display:inline;
  opacity:0;
  margin-top:0.2vh;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.cajaContainer{
  position:absolute;
  width:100%;
  top:0%;
  left:0%;
  margin-top:0.2vh;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.caja{
  position:relative;
  width:32%;
  z-index:20;
  margin-top:0.2vh;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.parpadeo{
  animation: parp .4s infinite;
  z-index:20;
}
.parpadeo2{
  animation: parp 1s infinite;
  z-index:20;
}
@keyframes parp {
  0%{}
  1%{opacity:0;}
  100%{opacity:1;}
}

.medalla{
  position:relative;
  z-index:50;
  width:105%;
  height:auto;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.medallacontainer{
  position:absolute;
  z-index:50;
  width:15vw;
  height:auto;
  top:50%;
  left:37%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 18vw;
  display:none;
  transition: width 1s, top 1s, left 1s;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.medallaAnim{
  display:inline;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  animation: giroentrada 1.5s;
}
@keyframes giroentrada {
  0%{
   width:1%;
   height:auto;
   transform: translateX(-50%) translateY(-50%) rotateX(0deg);
  }
  30%{
    background-color: rgba( 249, 252, 184,.1);
    box-shadow:
    0 0 .2vw .1vw rgba( 247, 237, 137,.1),
    0 0 .35vw .2vw rgba( 253, 246, 169 ,.1),
    0 0 .5vw .3vw rgba( 255, 255, 255 ,.1);
  }
  40%{
    width:30%;
    height:auto;
    transform: translateX(-50%) translateY(-50%) rotateX(720deg);
  }
  60%{
  width:30%;
  transform: translateX(-50%) translateY(-50%) rotateX(720deg);
  background-color: #f9fcb8;
  box-shadow:
  0 0 2vw 1vw rgba( 247, 237, 137,.5),
  0 0 7vw 4vw rgba( 253, 246, 169 ,.5),
  0 0 10vw 6vw #fff;
  }

}

.fondoLevelUp{
  position:absolute;
  width: auto;
  height: 95%;
  left:50%;
  transform: translateX(-50%);
  top:1%;
  animation: aparecer 3s forwards;
  z-index:-1;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

@keyframes aparecer {
  0%{opacity:0;}
  100%{opacity:1;}
}

.op1{
  position:absolute;
  width: auto;
  height: 22%;
  left:35%;
  transform: translateX(-50%);
  bottom:10%;
  opacity:0;
  transition: opacity 2s;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.op1text{
  position:absolute;
  left:36%;
  transform: translateX(-50%);
  bottom:2%;
  font-size: 3vh;
  color:white;
  opacity:0;
  transition: opacity 2s;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.op2{
  position:absolute;
  width: auto;
  height: 24%;
  left:50%;
  transform: translateX(-50%);
  bottom:10%;
  opacity:0;
  transition: opacity 2s;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.op2text{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom:2%;
  font-size: 3vh;
  color:white;
  opacity:0;
  transition: opacity 2s;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.op3{
  position:absolute;
  width: auto;
  height: 30%;
  left:68%;
  transform: translateX(-50%);
  bottom:10%;
  opacity:0;
  transition: opacity 2s;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.op3text{
  position:absolute;
  left:68%;
  transform: translateX(-50%);
  bottom:2%;
  font-size: 3vh;
  color:white;
  opacity:0;
  transition: opacity 2s;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.LvlUpText{
  position:absolute;
  left: 50%;
  top:20%;
  transform:translateX(-50%) translateY(-50%);
  font-size: 13vh;
  color:white;
  text-align: center;
  opacity:0;
  transition: opacity 5s;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
